/* Button-start */

/* button common start */
button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0.2rem 1.2em 0;
  border: 0;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  gap: 0.8em;
  border-radius: var(--border-radius);
}

.button img {
  height: 1.2em;
  margin-top: -0.2rem;
  vertical-align: middle;
}

button:focus {
  outline: none;
}

.btn-flex {
  display: flex;
  justify-content: space-between;
}

.btn-flex-end {
  display: flex;
  justify-content: flex-end;
}

/* button common end */

/* button write start */
.btn-write {
  background: var(--main-color);
}
/* button write end */

/* Home button start */
.button_home {
  border: none;
  color: var(--black-color);
  background-color: white;
  gap: 0;
  padding: 0;
  font-size: 1.2em;
}
/* Home button end */

/* save button start */
.btn-save {
  border: 1px solid rgba(var(--main-rgb), 0.5);
  background: var(--main-color);
}
/* save button end */

/* back button start */
.btn-back {
  width: 4rem;
  border: 1px solid rgba(var(--red-color), 0.5);
}

.btn-back-area {
  position: fixed;
}
/* back button end */

/* modify button start */
.btn-modify {
  border: 1px solid rgba(var(--main-color), 0.5);
  background: var(--main-color);
}
/* modify button end */

/* delete button start */
.btn-delete {
  border: 1px solid rgba(var(--red-color), 0.5);
  background: var(--red-color);
}
/* delete button end */

/* like button start */
.btn-like {
  width: 0.5em;
  height: 1.5em;
  border: 1px solid rgba(var(--red-rgb), 0.5);
  background: var(--white-color) url("../src/assets/icon-like.svg") no-repeat
    center;
}
/* .btn-like:hover, */
.btn-like.active {
  background: var(--red-color);
  color: var(--red-color);
  background: var(--red-color) url("../src/assets/icon-like-white.svg")
    no-repeat 50%;
}

/* like button end */
