/* Button-start */
button {
  font-size: 1.5em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0.2rem 1.2em 0;
  border: 0;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  gap: 0.8em;
  border-radius: var(--border-radius);
}

.button img {
  height: 1.2em;
  margin-top: -0.2rem;
  vertical-align: middle;
}

.btn-write {
  border-radius: var(--border-radius);
  background: var(--main-color);
}

/* 저장 버튼 */
.btn-save {
  border: 1px solid rgba(var(--main-rgb), 0.5);
  border-radius: var(--border-radius);
  background: var(--main-color);
}

/* 뒤로가기 */
.btn-back {
  border: 1px solid rgba(var(--red-color), 0.5);
  background: var(--red-color);
}

/* .btn-like {
  width: 12rem;
  height: 4rem;
  padding-left: 3rem;
  border: 1px solid rgba(var(--red-rgb), 0.5);
  border-radius: var(--border-radius);
  background: var(--white-color) url(../src/assets/icon-like.svg) no-repeat
    2.5rem 50% / 2.4rem;
  transition: all 0.3s;
}
.btn-like:hover,
.btn-like.active {
  background: var(--red-color) url(../src/assets/icon-like-white.svg) no-repeat
    2.5rem 50% / 2.4rem;
  color: var(--white-color);
}
.btn-like:focus {
  outline-color: rgba(var(--red-rgb), 0.2);
  box-shadow: none;
}

.btn-modify:hover {
  background: var(--main-color) url(../src/assets/icon-modify-white.svg)
    no-repeat 50% 50% / 1.6rem;
}

.btn-delete {
  background: var(--gray-background) url(../src/assets/icon-delete.svg)
    no-repeat 50% 50% / 1.6rem;
}

.btn-delete:hover {
  background: var(--red-color) url(../src/assets/icon-delete-white.svg)
    no-repeat 50% 50% / 1.6rem;
} */
/* Button end */

/* 수정 버튼 시작 */
.btn-modify {
  border-radius: var(--border-radius);
  background: var(--main-color);
}

/* 수정 버튼 끝 */

/* 삭제 버튼 시작 */
.btn-delete {
  border-radius: var(--border-radius);
  background: var(--red-color);
}
/* 삭제 버튼 끝 */

/*  */
.btn-flex {
  display: flex;
  justify-content: space-between;
}

.btn-flex-start {
  align-items: flex-start;
}

.btn-flex-end {
  align-items: flex-end;
}
