.Comments {
  display: flex;
  justify-content: center;
}

.Comments .Comments-wrapper {
  width: 50%;
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-background);
  border-radius: var(--border-radius);
}

.Comments-wrapper > h3 {
  padding: 1em 0;
}

.Comments-wrapper > div,
h3 {
  font-size: 1.8rem;
  border-radius: var(--border-radius);
}

.Cm-info {
  padding: 1rem 2rem;
  background-color: var(--white-color);
}

.btn-n-date-wrapper {
  flex-direction: row !important;
  justify-content: space-between;
}

.Cm-info > div {
  margin: 1rem 0;
  display: flex;
}

.Author-section input {
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: bold;
}

.Comment-section input {
  border: none;
  outline: none;
  font-size: 1.4rem;
}

.Date-section {
  font-size: 1.4rem;
  color: var(--gray-color);
  align-items: end;
  justify-content: center;
  display: flex;
}

.BorderBt {
  border-bottom: 1px solid var(--border-color);
}

.edit-comment-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--white-color);
  margin-top: 1rem;
}

.edit-comment-section > div {
  padding: 1rem 0;
}

.edit-comment-section input,
.edit-comment-section textarea,
.Comment-section textarea {
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.Comment-section textarea {
  width: 100%;
  resize: none;
  padding: 5px 10px;
}

.Comment-section textarea.editMode {
  border: 1px solid transparent;
}

.edit-comment-section .author-area {
  display: flex;
}

.author-area > h3 {
  padding-right: 1rem;
}

.edit-comment-section input,
.Cm-info input {
  padding: 5px 10px;
}

.edit-comment-section textarea {
  padding: 20px;
  width: 100%;
  min-height: 11rem;
  resize: none;
}

.btn-comment-control {
  justify-content: flex-end;
  gap: 0.5rem;
}
