.Edit_img img {
  width: 60%;
  height: 100%;
  object-fit: contain;
}

.Edit_wrapper .date-n-like {
  display: flex;
  justify-content: space-between;
}

.Edit_wrapper .date-n-like button {
  width: 4.5em;
  height: 2.5em;
}

.ContentsLayout {
  display: flex;
  flex-direction: column;
}
