.Edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Edit_wrapper h3 {
  padding: 1em 0;
  font-size: 1.8rem;
}

.Edit .Edit_wrapper {
  width: 50%;
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-background);
  border-radius: var(--border-radius);
}

.Edit input {
  padding: 10px 10px;
}

.Edit .Edit_date,
.Edit .Edit_text,
.Edit .Edit_title {
  margin-bottom: 1em;
}

.Edit .Edit_date > input {
  width: 10em;
  font-size: 1.5em;
}

.Edit .Edit_title > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gray-color);
}

.Edit .Edit_text > textarea {
  padding: 20px;
  width: 100%;
  min-height: 200px;
  resize: none;
  box-sizing: border-box;
}

.Edit input,
.Edit textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 2em;
}
