.Edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Edit_wrapper h3 {
  padding: 1em 0;
  font-size: 18px;
}

.Edit .Edit_wrapper {
  width: 70%;
  padding: 1em 5em;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 5px;
}

.Edit input {
  padding: 5px 5px;
  border: 0.1px solid var(--gray-color);
  border-radius: 3px;
}

.Edit .Edit_date,
.Edit .Edit_text,
.Edit .Edit_title {
  margin-bottom: 5em;
}

.Edit .Edit_date > input {
  width: 10em;
  font-size: 1.2em;
}

.Edit .Edit_title > input {
  width: 100%;
  font-size: 2em;
  border: none;
  border-bottom: 1px solid var(--gray-color);
  outline: none;
}

.Edit .Edit_text > textarea {
  padding: 20px;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 3px;
}
