.Posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.Posts-search {
  width: 1224px;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding: 20px 0px;
  gap: 1em;
}

.Posts-search > select,
.Posts-search > input {
  font-size: 1.8rem;
  padding: 0.3em 1em;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  outline: none;
}

.posts-sort {
  width: 1224px;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding: 20px 0px;
  gap: 1em;
  font-size: 1.8em;
}

.posts-sort a {
  cursor: pointer;
  color: gray;
  text-decoration: none;
}

.posts-sort a.active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  border: 1px solid var(--black-color);
  border-radius: 20px;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
